@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
h1,
h2,
h3,
h5,
h6,
p,
ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

body,
body * {
     font-family: 'Poppins', sans-serif;
     color: var(--brown)
}

html {
     scroll-behavior: smooth;
}

/* Color Palette */
:root {
     --white-c: #FFFFFF;
     --light-yellow: #E1C168;
     --light-orange: #F97F62;
     --light-grey: #A6A6A6;
     --light-pink: #f7b0b9;
     --bright-pink: #F06174;
     --black: #000001;
     --light-brown: #76584A;
     --brown: #4C261A;
}

h1 {
     font-size: 55px;
     font-weight: 700;
}

h2 {
     font-weight: 600;
     font-size: 40px;
}

h3 {
     font-size: 30px;
     font-weight: 600;
}

h5 {
     font-size: 22px;
     font-weight: 600;
}

p {
     font-size: 18px;
     font-weight: 400;
}


/* section */
section {
     height: inherit;
     flex-direction: column;
     padding: 0 3rem;
}

/* ---------------------------- */
/* Reusable Navigation style */
/* ---------------------------- */
/* navigation bar */
.navigation {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 0;
     background: var(--white-c);
}

.logo img {
     max-height: 70px;
}

.nav-links ul {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.nav-links ul li {
     margin: 0 35px;
}

.nav-links ul li a {
     color: var(--brown);
     text-decoration: none;
     font-weight: 500;
     font-size: 20px;
     transition: color 0.3s ease;
}

.nav-links ul li a:hover {
     color: var(--bright-pink);
     font-weight: 500;

}

.menu-toggle {
     display: none;
     cursor: pointer;
     font-size: 30px;
}

.menu-toggle i.fa-times {
     display: none;
}

/* ---------------------------- */
/* Reusable Button style */
/* ---------------------------- */

/* Main-btn */
.main-btn {
     padding: 14px 28px;
     color: var(--white-c);
     background: var(--bright-pink);
     text-decoration: none;
     font-weight: 600;
     font-size: 16px;
     border-radius: 56px;
     transition: background-color 0.3s ease;
     width: fit-content;
}

.main-btn:hover {
     background: var(--light-orange);
}

/* Primary btn */
.primary-btn {
     background: transparent;
     border: 3px solid var(--light-yellow);
     padding: 8px 19px;
     border-radius: 44px;
     text-decoration: none;
     font-size: 17px;
     font-weight: 600;
     transition: background-color 0.3s ease;
}

.primary-btn i.fa-whatsapp {
     color: var(--brown);
     background: transparent;
     font-weight: 600;
}

.primary-btn:hover {
     background: var(--light-yellow);
}








/* ---------------------------- */
/* (HOME PAGE) */
/* ---------------------------- */
/* ---------------------------- */
/* Section-1 */
/* ---------------------------- */
.home-section-1-content {
     display: flex;
     align-items: flex-start;
     justify-content: center;
}

/*------ left content---------- */
.home-section-1-left-content {
     margin-top: 3rem;
     width: 60%;
}

/* color balls */

.color-balls {
     width: 75px;
     position: absolute;
     top: 9rem;
     left: 27rem;
     z-index: -9;
}

.color-ball-1 {
     background-color: var(--light-yellow);
     height: 3.5rem;
     width: 3.5rem;
     border-radius: 100%;
     opacity: 0.5;
}

.color-ball-2 {
     background-color: var(--light-pink);
     height: 3.5rem;
     width: 3.5rem;
     border-radius: 100%;
     opacity: 0.9;
     position: relative;
     left: 15px;
     bottom: 29px;

}

.home-section-1-left-content p {
     width: 70%;
     margin: 2rem 0;
}


.home-section-1-left-content .main-btn {
     margin-left: 8rem;
}


/* Counter */
.home-section-1-left-content .counter {
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 4rem;
}

.home-section-1-left-content .counter .counter-div {
     display: flex;
     align-items: center;
}

.home-section-1-left-content .counter .counter-div i {
     padding: 13px;
     background: var(--bright-pink);
     border-radius: 50%;
     font-size: 25px;
     color: var(--white-c)
}

.home-section-1-left-content .counter .counter-div div {
     margin-left: 1.5rem;
     text-align: left;
}



/*------------ right -------------content */
.home-section-1-right-content {
     width: 65%;
}

.home-section-1-right-content img {
     width: 90%;
     margin-left: 4rem;
}

/* ---------------------------- */
/* Section-2 */
/* ---------------------------- */
.home-section-2 {
     
     margin: 2rem;
}

.features {
     width: 90%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;

}

.featureBox {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.featureIcon {
     width: 100px;
     height: auto;
}

.featureTagline {

     text-align: center;
     font-size: 20px;
     margin: 0 auto;
     font-weight: 400;
}

/* ---------------------------- */
/* Section-3 */
/* ---------------------------- */
.home-section-3 {
     padding: 1rem 2rem;
     display: flex;
     flex-direction: row;
}

.home-section-3-left-content {
     width: 70%;
}

.section-3-left-image {
     max-width: 80%;
}

.home-section-3-right-content {
     width: 50%;
     margin: auto 0;
}

.section-3-heading {
     margin: 1rem 0;
}

.section-3-text {
     width: 65%;
     margin: 1rem 0;
}

.section-3-btn-box {
     display: flex;
     flex-direction: row;
     gap: 3rem;
}

.section-3-btn-box a {
     margin: 1rem 0;
}

/* ---------------------------- */
/* Section-4 */
/* ---------------------------- */

.home-section-4 {
     display: flex;
     flex-direction: row;
}

.home-section-4-left {
     width: 70%;
}

.section-4-points {
     font-size: 30px;
}

.section-4-points ul {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}


.section-4-points li {
     margin:1rem;
     padding:10px 1rem 10px 10rem;
     background: url('./Assests/tick-removebg.png') no-repeat left center;
     background-size: 200px 200px;
     /* Adjust the size as needed */
     line-height: 30px;
     /* Adjust the line height to match the image size */
     font-size: 30px;
}

.home-section-4-right {
     width: 30%;
}

.section-4-img {
     width: 100%;
}





/* ---------------------------- */
/* Section-5 */
/* ---------------------------- */

.home-section-5 {
     display: flex;
     flex-direction: column;
     background-color: var(--light-yellow);
     margin: 2rem auto;
     border-radius: 250px;
     width: 75%;
     align-items: center;
}

.section-5-container {
     text-align: center;
     padding: 2rem 2rem 3rem 2rem;
}

.section-5-container h2 {
     max-width: fit-content;
     text-align: center;
     margin: 2rem auto;
}

.section-5-container a {
     margin: 1rem auto;
     align-self: center;
}

/* ---------------------------- */
/* Section-6 */
/* ---------------------------- */

.home-section-6 {
     background-color: var(--light-orange);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     text-align: center;
     height: fit-content;

}

.section-6-container h1 {
     width: fit-content;
     margin: 2rem auto;
}

.section-6-container p {
     width: fit-content;
     margin: 2rem auto;
}

.form-field {
     border: none;
     width: 50%;
}

.form-group {
     background-color: var(--light-pink);
     padding: 0;
     margin: 2rem auto;
     border-radius: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: fit-content;

}

.form-group input {
     background-color: var(--light-pink);
     height: 2rem;
     margin: auto 1rem;
     font-weight: 800;
     border: none;
}

.form-group>.main-btn {
     width: fit-content;

}

.form-group>.main-btn:hover {
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
     background-color: var(--bright-pink);

}

/* ---------------------------- */
/* Footer */
/* ---------------------------- */

.Footer {
     padding: 2rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.Footer img {

     height: 100px;
     width: auto;
}

.Footer ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.Footer li {
     font-size: 50px;
     display: inline-block;
     /* Display list items horizontally */
     margin-right: 20px;
     /* Adjust the margin between icons */
}














/* --------------------------- */
/* --Responsive Design Start Here */
/* ------------------------------- */

@media screen and (max-width: 900px) {

     section {
          padding: 0 2rem;
     }

     h1 {
          font-size: 30px;
     }

     h2 {
          font-weight: 600;
          font-size: 24px;
     }

     p {
          font-size: 11px;
     }

     .heading {
          padding: 2rem 0;
     }

     .logo img {
          max-height: 60px;
     }

     /* Main btn responsive */
     .main-btn {
          padding: 9px 21px;
          color: var(--white-c);
          background: var(--bright-pink);
          text-decoration: none;
          font-weight: 400;
          font-size: 12px;
          border-radius: 56px;
          transition: background-color 0.3s ease;
     }

     /* --------------------------- */
     /* --Reusable Navigation Responsive style Here */
     /* ------------------------------- */
     .nav-links {
          position: absolute;
          top: 12%;
          left: 0;
          width: 100%;
          padding: 1rem 0;
          background-color: var(--white-c);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
     }

     .nav-links ul {
          flex-direction: column;
     }

     .nav-links ul li {
          margin: 10px 0;
          opacity: 0;
          transform: translateY(-20px);
          transition: opacity 0.3s ease, transform 0.3s ease;
     }

     .btn {
          margin-bottom: 20px;
     }

     .menu-toggle {
          display: block;
     }


     .nav-links.active {
          opacity: 1;
          z-index: 2;
     }

     .nav-links.active ul li {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.1s;
     }

     /* Hamburger Icon Animation */
     .menu-toggle i.fa-bars {
          display: block;
          animation: scaleIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), fadeIn 0.5s ease;
     }

     /* Close Icon Animation */
     .menu-toggle i.fa-times {
          display: none;
          animation: scaleIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), fadeIn 0.5s ease;
     }

     /* Keyframe Animations */
     @keyframes scaleIn {
          from {
               transform: scale(0);
          }

          to {
               transform: scale(1);
          }
     }

     @keyframes fadeIn {
          from {
               opacity: 0;
          }

          to {
               opacity: 1;
          }
     }

     /* ---------------------------- */
     /* (HOME PAGE) */
     /* ---------------------------- */
     /* ---------------------------- */
     /* Section-1 */
     /* ---------------------------- */

     .home-section-1 {
          padding-left: 1.3rem;
     }

     .home-section-1-content {
          flex-direction: column;
     }

     .home-section-1-left-content {
          margin-top: 1rem;
          width: 80%;
     }

     .color-balls {
          position: absolute;
          top: 6.5rem;
          left: 14rem;
          z-index: -9;
     }

     .color-ball-1 {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 100%;
          opacity: 0.5;
     }

     .color-ball-2 {
          height: 2.5rem;
          width: 2.5rem;
     }

     .home-section-1-left-content p {
          width: 72%;
          margin-top: 0.9rem;
          margin-bottom: 2rem;
          font-size: 11px
     }

     .home-section-1-left-content .main-btn {
          margin-left: 0rem;
     }

     .home-section-1-left-content .counter {
          align-items: start;
          margin-top: 3rem;
          flex-direction: column;
     }

     .home-section-1-left-content .counter .counter-div {
          margin-bottom: 1rem;
     }

     .home-section-1-left-content .counter .counter-div i {
          padding: 10px;
          font-size: 22px;
     }

     .home-section-1-left-content .counter .counter-div div {
          margin-left: 1rem;
          text-align: left;
     }

     .home-section-1-left-content .counter .counter-div div h5 {
          font-weight: 800;
          font-size: 17px;
     }

     .home-section-1-left-content .counter .counter-div div h6 {
          font-weight: 400;
          font-size: 10px;
     }

     .home-section-1-right-content {
          width: 100%;
          margin-top: -16rem;
          margin-left: 2rem;
          overflow: hidden;
          z-index: -1;
     }

     .home-section-1-right-content img {
          width: 127%;
          margin-left: 2rem;
     }

     /* ---------------------------- */
     /* Section-2 */
     /* ---------------------------- */
     .features {
          flex-direction: column;
          gap: 3rem;


     }

     .featureIcon {
          width: 100px;
          height: auto;
     }

     .featureTagline {

          text-align: center;
          font-size: 20px;
          margin: 0 auto;
          font-weight: 400;
     }

     /* ---------------------------- */
     /* Section-3 */
     /* ---------------------------- */

     .home-section-3 {

          padding: 1rem 2rem;
          display: flex;
          flex-direction: column-reverse;
     }

     .home-section-3-left-content {
          width: 100%;
     }

     .home-section-3-right-content {
          width: 100%;
          margin: auto 0;
     }

     .section-3-text {
          width: 80%;
     }




     /* ---------------------------- */
     /* Section-4 */
     /* ---------------------------- */

     .home-section-4 {
          display: flex;
          flex-direction: row;
     }
     
     .home-section-4-left {
          width: 50%;
     }
     
     .section-4-points {
          font-size: 30px;
     }
     
     .section-4-points ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
     }
     
     
     .section-4-points li {
          margin:.5rem;
          padding:10px 1rem 10px 5rem;
          background: url('./Assests/tick-removebg.png') no-repeat left center;
          background-size: 100px 100px;
          /* Adjust the size as needed */
          line-height: 20px;
          /* Adjust the line height to match the image size */
          font-size: 15px;
     }
     
     .home-section-4-right {
          width: 50%;
     }
     
     .section-4-img {
          height: 100%;

     }








     /* ---------------------------- */
     /* Section-5 */
     /* ---------------------------- */

     .home-section-5 {
          padding: 1rem;

     }

     .section-5-container {
          width: 95%;
          padding: 0;
     }

     .section-5-container h2 {
          width: fit-content;
          margin: 1rem auto;
          font-weight: 800;
          font-size: 22px;
     }








     /* ---------------------------- */
     /* Section-6 */
     /* ---------------------------- */



     .section-6-container h1 {

          font-size: 25px;
     }

     .section-6-container p {
          margin: 0 auto;
     }




     /* ---------------------------- */
     /* Footer */
     /* ---------------------------- */


     .Footer {
          padding: 1rem;
          align-items: center;
     }

     .Footer p {
          font-size: 5px;
     }



     .Footer img {
          height: 20px;
          width: auto;
     }

     .Footer ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
     }

     .Footer i {
          font-size: 20px;
     }
















}